@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
    font-family: 'Nanum Myeongjo', serif;
    background: var(--mainColor);
}

h1 {
    font-size: var(--mainTitleSize);
    color: var(--secondaryColor);
    font-weight: 500;
}

h2 {
    font-size: var(--mainTextSize);
    color: var(--secondaryColor);
    text-align: center;
    margin-bottom: 1%;
}

h3 {
    font-size: var(--mainTextSize);
    color: var(--secondaryColor);
    padding: 2%;
    margin-left: 5%;
}

h4 {
    font-size: var(--mainTextSize);
    color: var(--secondaryColor);
    text-align: center;
}

h5 {
    font-size: var(--mainTextSize);
    color: var(--secondaryColor);
    text-align: center;
    margin: 15vh 0 0 0;
}

.home__works-container-info-text {
    h3 {
        color: var(--mainColor);
        font-size: var(--secondaryTitleSize);
        text-transform: uppercase;
        text-align: center;
        font-weight: 1000;
        padding: auto auto 5% auto;
        &#workOne {
            color: rgb(15, 136, 0);
        }
    }
    p {
        font-size: var(--secondaryTextSize);
        text-align: center;
        line-height: 1.5em;
    }
}

/*Testo nella pagina about*/
.about__info-text {
    p {
        width: 60%;
        color: var(--secondaryColor);
        font-size: var(--secondaryTextSize);
        text-align: start;
        padding: 2%;
        margin: 2%;
        a {
            color: var(--secondaryColor);
            text-decoration: underline;
            text-decoration-color: var(--anchorTagColor);
        }
    }
}


/*Stile testo nell'email form*/
.app__emailForm.show {
    p {
        text-align: center;
        color: var(--black);
        font-size: var(--thirdTextSize);
        padding: 0 0 2% 0;
    }
}
/*Stile bottoni del footer*/
.home__footer {
    p {
        margin: 0 0 0 8%;

        a {
            text-decoration: none;
            padding: 12px 8px;
            margin: 0 0 5% 0;
            color: var(--black);
            font-size: var(--secondaryTextSize);
        }
    }
}