@import '../abstract/variables';

/*Pagina about del sito*/
.about {
    &__info {
        margin: 5vh auto;
        &-text {
            @include horizontal-alignment-row;
            &-image {
                width: 330px;
                height: 310px;
                margin: 2% 5% 2% 5%;
                overflow: hidden;
                .profileImage {
                    width: 100%;
                    height: 100%;
                    transition: var(--mainTransitionValue);            
                    &:hover, &:focus {
                        transition: var(--mainTransitionValue);
                        scale: 1.1;
                    }
                }
            }
        }
    }
}
