@import '../abstract/variables';

.app {
    /* PAGINA ABOUT */
    &--about {
        &--main {
            margin: 5vh auto;
            &--info {
                @include horizontal-alignment-row;
                .profileImgContainer {
                    width: 350px;
                    height: 330px;
                    margin: 2% 5% 2% 5%;
                    overflow: hidden;
                    .profileImg {
                        width: 100%;
                        height: 100%;
                        transition: var(--mainTransitionValue);            
                        &:hover, &:focus {
                            transition: var(--mainTransitionValue);
                            scale: 1.1;
                        }
                    }
                }
            }

            /* SKILLS */
            &--skills {
                margin: 1vh auto;
                @include horizontal-alignment-row;
                background: var(--mainColor);
                .block {
                    margin: 3%;
                    width: 250px;
                    height: 200px;
                    border-radius: var(--secondaryRadius);
                    @include shadow-settings;
                    background: var(--fifthColor);
                    transition: var(--thirdTransitionValue) linear;
                    .progressBar {
                        width: 98%;
                        margin: 15% 0 0 .5%;
                        color: var(--fifthColor);
                        border-radius: var(--fourthRadius);
                        #htmlBar {
                            background: #E34C26;
                            width: 55%;
                            @include progress-bar;
                        }
                        #cssBar {
                            background: #264DE4;
                            color: var(--mainColor);
                            width: 40%;
                            @include progress-bar;
                        }
                        #scssBar {
                            background: #CD6799;
                            width: 42%;
                            @include progress-bar;
                        }
                        #jsBar {
                            background: #F0DB4F;
                            width: 10%;
                            @include progress-bar;
                        }
                        #vueBar {
                            background: #41B883;
                            width: 20%;
                            @include progress-bar;
                        }
                        #cBar {
                            background: #04407E;
                            color: var(--mainColor);
                            width: 25%;
                            @include progress-bar;
                        }
                        #javaBar {
                            background: #ED1D25;
                            width: 1%;
                            @include progress-bar;
                        }
                        #gitBar {
                            background: #F1502F;
                            width: 5%;
                            @include progress-bar;
                        }
                    }
                    .logoImg {
                        width: 100px;
                        height: 100px;
                        @include image-alignment;
                    }
                    &:hover, &:focus {
                        transition: var(--thirdTransitionValue) linear;
                        scale: 1.1;
                    }
                }
            }
        }
    }
}