@import '../abstract/variables';
@import '../abstract/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100vw;
    overflow-x: hidden;
}

.app {
    /* HOMEPAGE */
    &--home {
        height: 100vh;
        width: 100vw;
        max-width: 100vw;
        color: var(--thirdColor);
        text-align: center;
        @include horizontal-alignment-column;
        /* RESTO DEL SITO */
        &--main {
            height: fit-content;
            /* LAVORI */
            &--works {
                max-width: 100vw;
                @include horizontal-alignment-row;
                position: relative;
                .workBlock {
                    position: relative;
                    width: 700px;
                    max-width: 96%;
                    height: 400px;
                    margin: 2% auto;
                    overflow: hidden;
                    border-radius: var(--fourthRadius);
                    .image {
                        @include work-block;
                        img {
                            @include work-block;
                            max-width: 100%;
                            object-fit: cover;
                        }
                    }
                    .text {
                        @include work-block;
                        @include central-alignment;
                        &:before {
                            @include work-block;
                            content: '';
                            background: var(--thirdColor);
                            transform: scaleX(0);
                            transition: transform var(--mainTransitionValue) ease-in-out;
                            transform-origin: left;
                        }
                        .content {
                            position: relative;
                            padding: 30px;
                            z-index: 1;
                            transition: var(--mainTransitionValue);
                            transform: translateX(-700px);
                            color: var(--mainColor);
                            h3 {
                                color: var(--mainColor);
                                font-size: var(--secondaryTitleSize);
                                text-transform: uppercase;
                                text-align: center;
                                font-weight: 1000;
                                padding: auto auto 5% auto;
                                &#workOne {
                                    color: rgb(15, 136, 0);
                                }
                            }
                            p {
                                font-size: var(--secondaryTextSize);
                                text-align: center;
                                line-height: 1.5em;
                            }
                        }
                    }
                    &:hover {
                        .text {
                            .content {
                                transform: translateX(0px);
                                transition-delay: var(--secondaryTransitionValue);
                            }
                        }
                        .text:before {
                            transform: scaleX(1);
                            transition: transform var(--mainTransitionValue) ease-in-out;
                            transform-origin: left;
                        }
                    }
                }
            }
        }
    }
}