@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* COLORE DI SFONDO */
body {
    background-color: var(--bodyColor);
}

/* CORPO PRINCIPALE DELLA PAGINA */
.block {
    height: 100%;
    width: 100%;
}

/* BLOCCO IN SOVRIMPRESSIONE */
.sub_block {
    height: 82vh;
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    background-color: var(--secondaryColor);
    border-radius: var(--radius);
    box-shadow: 10px  10px 25px var(--opacity);
    align-items: center;
    span {
        color: var(--title);
    }
    h1 {
        font-size: var(--mainTitle);
        padding: 5%;
    }
    p {
        font-size: var(--secondaryTextSize);
        padding-left: 5%;
    }
}

/* IMMAGINE DEL PROFILO */
.img_profile {
    width: 400px;
    position: fixed;
    left: 65%;
    top: 28%;
    border-radius: 50%;
}

/* SOCIAL */
.social {
    text-decoration: none;
    font-size: var(--mainTextSize);
    margin-left: 5%;
    &:hover {
        color: var(--button-hov);
    }
    &--ig {
        color: #833AB4;
    }
    &--github {
        color: black;
    }
}

/* FORM DA COMPILARE */
#form {
    margin-top: 2%;
}
/* Template per l'invio delle email */
.field {
    padding-left: 35%;
    padding-bottom: 2%;
    label {
        display: block;
        padding: 1% 0;
        font-size: var(--secondaryTextSize);
        color: var(--mainText);
    }
    input {
        display: block;
        width: 500px;
        font-size: var(--secondaryTextSize);
        border: 1px solid var(--mainText);
        background-color: var(--opacity);
    }
}
#message {
    height: 200px;
    border: 1px solid var(--mainText);
}
/* Bottone per l'invio del messaggio */
input[type="submit"] {
    display: block;
    margin-left: 49%;
    padding: 5px 20px;
    font-size: var(--secondaryTextSize);
    background-color: var(--button-contact);
    color: var(--mainText);
}
#button:hover {
    color: var(--button-hov);
    transition: var(--secondaryTransition);
}