/****************************************
    STRUTTURA PRINCIPALE DEL SITO WEB 
****************************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/* COLORE DI SFONDO */
body {
    background: var(--bodyColor);
}

/* BLOCCO IN SOVRIMPRESSIONE */
.sub_block {
    /* GRANDEZZA e STILE DEL BLOCCO in SOVRIMPRESSIONE */
    height: 80%;
    width: 80%;
    margin: 0 auto;
    margin-top: 3.5%;
    margin-bottom: 1%;
    background-color: var(--secondaryColor);
    border-radius: var(--radius);
    box-shadow: 10px 10px 25px var(--opacity);
    
    /* TESTI e FOTO NEL SITO */
    .main {
        h2 {
            font-size: var(--mobileTitle);
            color: var(--mainText);
            padding: 5%;
        }
        p {
           display: flex;
           justify-content: center;
           color: black; 
        }
        /* FOTO della HOME */
        .img_profile {
            width: 400px;
            position: absolute;
            left: 65%;
            margin-top: 2%;
            border-radius: 50%;
            transition: var(--secondaryTransition) linear;
            &:hover {
                margin-top: 1%;
                transition: var(--secondaryTransition) linear;
            }
        }
    
        /* HOMEPAGE */
        &--home {
            padding: 5%;
            width: fit-content;
            h1 {
                color: var(--mainText);
                font-size: var(--mainTitle);
                padding: 5%;
            }
            h2 {
                color: var(--mainText);
                font-size: var(--mobileTitle);
                padding: 5%;
            }
            span {
                color: var(--title);
            }
            p {
                font-size: var(--secondaryTextSize);
                color: var(--mainText);
                padding: 5%;
            }
        }

        /* ABOUT PAGE */
        &--about {
            h2 {
                padding-bottom: 2%;
                color: var(--mainColor);
                font-size: var(--mobileTitle);
            }
            p {
                color: var(--mainColor);
                font-size: var(--secondaryTextSize);
            }
        }

        /* PROJECTS PAGE */
        &--projects {
            width: 80%;
            text-align: left;
            font-size: var(--secondaryTextSize);
            margin: 0 auto;
            padding: 2%;
            margin-top: 2%;
            padding-bottom: 2%;
            background-color: var(--mainColor);
            box-shadow: 10px 10px 45px var(--opacity);
            .fa {
                display: flex;
                justify-content: flex-end;
                font-size: var(--mobileTitle);
                color: var(--secondaryText);
            }
            &--projectsText {
                h2 {
                    padding: 5%;
                    padding-bottom: 2%;
                    color: var(--mainColor);
                    font-size: var(--mobileTitle);
                }
                p {
                    display: inline-block;
                    margin: 0 auto;
                    margin-top: 2%;
                    color: var(--secondaryText);
                }
            }
            &--projectsLink {
                text-decoration: none;
                font-size: var(--mobileTitle);
                color: var(--mainText);
                &:hover {
                    color: var(--buttonHov);
                }
            }
        }

        /* SKILLS PAGE */
        &--skillsContainer {
            margin: 0 auto;
            border-radius: var(--radius);
            background-color: #CCC;
            width: 95%;
            .skills {
                text-align: right;
                color: var(--skillsTextColor);
                border-radius: var(--radius);
                &--c {
                    width: 20%;
                    background-color: #00599c;
                }
                &--html {
                    width: 40%;
                        background-color: #e34c26;
                }
                &--css {
                    width: 35%;
                    background-color: #2965f1;
                }
                &--scss {
                    width: 38%;
                    background-color: #f57b79;
                }
                &--js {
                    width: 15%;
                    background-color: #F0DB4F;
                }
                &--git {
                    width: 15%;
                    background-color: #f1502f;
                }
                &--vue {
                    width: 1%;
                    background-color: #42b883;
                }
            }
        }

        /* CONTACT PAGE */
        &--contact {
            margin-top: 0;
            p {
                padding: 3%;
                color: var(--mainColor);
            }
            .field {
                padding-left: 35%;
                padding-bottom: 2%;
                label {
                    display: block;
                    padding: 1% 0;
                    font-size: var(--mainTextSize);
                    color: var(--mainText);
                }
                input {
                    display: block;
                    width: 500px;
                    font-size: var(--mainTextSize);
                    border: 1px solid var(--mainText);
                    background-color: var(--opacity);
                }
            }
            #message {
                height: 200px;
                border: 1px solid var(--mainText);
            }
        }
    }

    /* SOCIAL */
    .social {
        text-decoration: none;
        font-size: var(--mainTextSize);
        &:hover {
            color: var(--buttonHov);
        }
        &--ig {
            margin-left: 2%;
            color: #FFFFFF;
            margin-right: 2%;
        }
        &--github {
            margin-left: 2%;
            color: black;
        }
        &--twitter {
            margin-left: 2%;
            color: #1DA1F2;
        }
    }

    /* FOOTER */
    .footer {
        display: flex;
        justify-content: center;
        p {
            padding-top: 5%;
            padding-bottom: 1%;
            color: var(--mainText);
            font-size: var(--secondaryTextSize);
        }

        /* FOOTER PAGINA ABOUT */
        &--about {
            text-decoration: none;
            justify-content: center;
            p {
                padding-left: 5%;
                padding-top: 25%;
                padding-bottom: 1%;
                color: var(--mainText);
                font-size: var(--secondaryTextSize);
            }
            .fa {
                float: right;
            }
        }
    }
}