/* COLOR PALETTE */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

/* MENU DA MOBILE */
/* ALLINEAMENTO DEL NAV MENU */
/* ALLINEAMENTO VERTICALE DI PIU OGGETTI */
/* ALLINEAMENTO VERTICALE DI PIU OGGETTI AL CONTRARIO */
/* ALLINEAMENTO ORIZZONTALE DI PIU OGGETTI */
/* ALLINEAMENTO AL CENTRO */
/* ALLINEAMENTO PER LE IMMAGINI */
/* IMPOSTAZIONI DELLE OMBRE */
/* STILE DELLA BARRA DI PROGRESSO DELLE SKILLS */
/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

body {
  font-family: "Nanum Myeongjo", serif;
  background: var(--mainColor);
}

h1 {
  font-size: var(--mainTitleSize);
  color: var(--thirdColor);
  font-weight: 500;
}

h2 {
  font-size: var(--mainTextSize);
  color: var(--thirdColor);
  text-align: center;
  margin-bottom: 1%;
}

h3 {
  font-size: var(--mainTextSize);
  color: var(--thirdColor);
  padding: 2%;
  margin-left: 5%;
}

h4 {
  font-size: var(--mainTextSize);
  color: var(--thirdColor);
  text-align: center;
}

h5 {
  font-size: var(--mainTextSize);
  color: var(--thirdColor);
  text-align: center;
  margin: 15vh 0 0 0;
}

.home__works-container-info-text h3 {
  color: var(--mainColor);
  font-size: var(--secondaryTitleSize);
  text-transform: uppercase;
  text-align: center;
  font-weight: 1000;
  padding: auto auto 5% auto;
}
.home__works-container-info-text h3#workOne {
  color: rgb(15, 136, 0);
}
.home__works-container-info-text p {
  font-size: var(--secondaryTextSize);
  text-align: center;
  line-height: 1.5em;
}

/*Testo nella pagina about*/
.about__info-text p {
  width: 60%;
  border: 1px solid white;
  color: var(--thirdColor);
  font-size: var(--secondaryTextSize);
  text-align: start;
  padding: 2%;
  margin: 2%;
}

/*Stile testo nell'email form*/
.app__emailForm.show p {
  text-align: center;
  color: var(--thirdColor);
  font-size: var(--thirdTextSize);
  padding: 0 0 2% 0;
}

/*Stile bottoni del footer*/
.home__footer p {
  margin: 0 0 0 8%;
}
.home__footer p a {
  text-decoration: none;
  padding: 12px 8px;
  margin: 0 0 5% 0;
  color: var(--thirdColor);
  font-size: var(--secondaryTextSize);
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

li {
  list-style: none;
}

/* BOTTONI NAV */
.navHamburger {
  display: none;
}

.workBtn, .aboutBtn {
  text-decoration: none;
  color: var(--mainColor);
  font-size: var(--secondaryTextSize);
}

.logoBtn {
  text-decoration: none;
  color: var(--mainColor);
  font-size: 2rem;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: var(--thirdColor);
}
.navBar .navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.navBar .navMenu .navLink {
  transition: var(--mainTransitionValue) ease-in-out;
}

/* BOTTONE PER MOSTRARE IL FORM DELLE EMAIL */
.showEmailForm {
  text-decoration: none;
  border: 1px solid var(--thirdColor);
  padding: 12px 8px;
  margin: 2% 0 1% 0;
  background: var(--mainColor);
  color: var(--thirdColor);
  font-size: var(--thirdTextSize);
  float: right;
  border-radius: var(--radiusSize);
  transition: var(--thirdTransitionValue) ease-in-out;
}
.showEmailForm:hover, .showEmailForm:focus {
  translate: 0 -3px;
  transition: var(--thirdTransitionValue) ease-in-out;
  border-bottom: 4px solid var(--thirdColor);
}

/* BOTTONE PER L'INVIO DELL'EMAIL */
input[type=submit] {
  display: block;
  margin: auto;
  border: 1px solid var(--thirdColor);
  background: var(--mainColor);
  color: var(--thirdColor);
  width: 150px;
  padding: 12px 8px;
  font-size: var(--fourthTextSize);
  border-radius: var(--radiusSize);
}
input[type=submit]:hover, input[type=submit]:focus {
  translate: 0 -3px;
  transition: var(--thirdTransitionValue) ease-in-out;
  border-bottom: 4px solid var(--thirdColor);
}

/* BOTTONE PER VISITARE IL LAVORO PRESENTATO */
.workButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--radiusSize);
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  background: none;
  font-size: var(--thirdTextSize);
  text-decoration: none;
  padding: 13px 11px;
  margin: 10% auto 0 auto;
  transition: var(--secondaryTransitionValue);
}
.workButton:hover, .workButton:focus {
  transition: var(--secondaryTransitionValue);
  translate: 0 -5px;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

/* MENU DA MOBILE */
/* ALLINEAMENTO DEL NAV MENU */
/* ALLINEAMENTO VERTICALE DI PIU OGGETTI */
/* ALLINEAMENTO VERTICALE DI PIU OGGETTI AL CONTRARIO */
/* ALLINEAMENTO ORIZZONTALE DI PIU OGGETTI */
/* ALLINEAMENTO AL CENTRO */
/* ALLINEAMENTO PER LE IMMAGINI */
/* IMPOSTAZIONI DELLE OMBRE */
/* STILE DELLA BARRA DI PROGRESSO DELLE SKILLS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

/*Homepage del sito*/
.home {
  /* LAVORI */
}
.home__title {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  color: var(--thirdColor);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home__works {
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  position: relative;
}
.home__works-container {
  position: relative;
  width: 700px;
  max-width: 96%;
  height: 400px;
  margin: 2% auto;
  overflow: hidden;
  border-radius: var(--fourthRadius);
}
.home__works-container-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home__works-container-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home__works-container-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__works-container-info:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: var(--thirdColor);
  transform: scaleX(0);
  transition: transform var(--mainTransitionValue) ease-in-out;
  transform-origin: left;
}
.home__works-container-info-text {
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: var(--mainTransitionValue);
  transform: translateX(-700px);
  color: var(--mainColor);
}
.home__works-container:hover .home__works-container-info:before {
  transform: scaleX(1);
  transition: transform var(--mainTransitionValue) ease-in-out;
  transform-origin: left;
}
.home__works-container:hover .home__works-container-info-text {
  transform: translateX(0px);
  transition-delay: var(--secondaryTransitionValue);
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

/*Pagina about del sito*/
.about {
  /* SKILLS */
}
.about__info {
  margin: 5vh auto;
}
.about__info-text {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  border: 1px solid black;
}
.about__info-text-image {
  width: 350px;
  height: 330px;
  margin: 2% 5% 2% 5%;
  overflow: hidden;
}
.about__info-text-image .profileImage {
  width: 100%;
  height: 100%;
  transition: var(--mainTransitionValue);
}
.about__info-text-image .profileImage:hover, .about__info-text-image .profileImage:focus {
  transition: var(--mainTransitionValue);
  scale: 1.1;
}
.about__skills {
  margin: 1vh auto;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  background: var(--mainColor);
}
.about__skills-container {
  margin: 3%;
  width: 250px;
  height: 200px;
  border-radius: var(--secondaryRadius);
  box-shadow: 10px 0px 42px 7px rgba(127, 136, 127, 0.64);
  background: var(--fifthColor);
  transition: var(--thirdTransitionValue) linear;
}
.about__skills-container-progressBar {
  border-radius: var(--radiusSize);
  display: flex;
  justify-content: space-evenly;
  margin: 20% 0 0 0;
}
.about__skills-container-progressBar .progressLevel {
  border-right: 2px solid var(--mainColor);
  width: 100px;
  height: 20px;
  background: var(--mainColor);
}
.about__skills-container-progressBar #first {
  border-top-left-radius: var(--radiusSize);
  border-bottom-left-radius: var(--radiusSize);
  background: var(--thirdColor);
}
.about__skills-container-progressBar #second {
  background: var(--thirdColor);
}
.about__skills-container-progressBar #third {
  border: none;
  border-top-right-radius: var(--radiusSize);
  border-bottom-right-radius: var(--radiusSize);
  background: var(--thirdColor);
}
.about__skills-container #levelIndicator {
  text-align: center;
  margin: 2% 0 0 0;
}
.about__skills-container-image {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.about__skills-container-image .image {
  margin: 1vh 0 0 0;
  width: 100%;
}
.about__skills-container:hover, .about__skills-container:focus {
  transition: var(--thirdTransitionValue) linear;
  scale: 1.1;
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

.home__footer {
  padding: 0 0 3% 0;
  max-width: 100%;
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

.app__emailForm {
  display: none;
}
.app__emailForm.show {
  display: block;
  width: 100%;
  margin: 0 0 2% 0;
}
.app__emailForm.show .app__emailForm__form {
  width: 40%;
  border-radius: var(--radiusSize);
  display: block;
  margin: auto;
  text-align: center;
}
.app__emailForm.show .app__emailForm__form label {
  display: block;
  text-align: center;
}
.app__emailForm.show .app__emailForm__form input[type=text], .app__emailForm.show .app__emailForm__form [type=email], .app__emailForm.show .app__emailForm__form textarea {
  width: 40%;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 3%;
  padding: 12px;
}

/* COLOR PALETTE */
:root {
  /* Light theme */
  --mainColor-light: #D2D2D2;
  --secondaryColor-light: #000000;
  --thirdColor-light: #1A1A19;
  --fourthColor-light: #727068;
  --fifthColor: #373635;
  --opacityColor-light: #7f887f;
  /* Dark theme */
  --mainColor-dark: #D2D2D2;
  --secondaryColor-dark: #000000;
  --thirdColor-dark: #1A1A19;
  --fourthColor-dark: #727068;
  --fifthColor--dark: #373635;
  --opacityColor-dark: #7f887f;
}

/* GRANDEZZE DEI TESTI */
:root {
  --bigTitleSize: 75px;
  --mainTitleSize: 60px;
  --titleSize: 45px;
  --secondaryTitleSize: 35px;
  --mainTextSize: 30px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 16px;
  --radiusSize: 10px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --fourthRadius: 30px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
  --thirdTransitionValue: 0.2s;
}

/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*Menu da mobile*/ /*Hamburger menu*/
  .navHamburger {
    display: block;
  }
  .navHamburger .hamburgerItem {
    display: block;
    width: 25px;
    height: 3px;
    margin: 7px auto;
    background: var(--mainColor);
    transition: var(--mainTransitionValue);
  }
  .navHamburger.active .hamburgerItem:nth-child(2) {
    opacity: 0;
  }
  .navHamburger.active .hamburgerItem:nth-child(1) {
    transition: var(--mainTransitionValue);
    transform: translateY(10px) rotate(47deg);
  }
  .navHamburger.active .hamburgerItem:nth-child(3) {
    transition: var(--mainTransitionValue);
    transform: translateY(-10px) rotate(-47deg);
  }
  .navMenu {
    position: absolute;
    left: -100%;
    gap: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: var(--mainTransitionValue);
  }
  .navMenu .navLink {
    margin-bottom: 5%;
  }
  .navMenu.active {
    left: 0;
    background: var(--thirdColor);
  }
  .navMenu {
    top: 8vh;
  }
  /*Sito*/
  .app {
    /*Homepage con testo*/
    /*Pagina about*/
    /*Footer*/
  }
  .app--home {
    /*Resto del sito*/
  }
  .app--home h1 {
    font-size: var(--secondaryTitleSize);
  }
  .app--home--main {
    /*Form dell'email*/
  }
  .app--home--main--contact.show h2 {
    margin-top: 5%;
    font-size: var(--secondaryTextSize);
  }
  .app--home--main--contact.show p {
    font-size: var(--fourthTextSize);
  }
  .app--home--main--contact.show .emailForm {
    margin: 5% auto;
    width: 70%;
  }
  .app--home--main--contact.show .emailForm input[type=text], .app--home--main--contact.show .emailForm [type=email], .app--home--main--contact.show .emailForm textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 3%;
    padding: 12px;
  }
  .app--about--main {
    margin: 5vh auto;
    /*Sezione testo e foto*/
    /*Skills*/
  }
  .app--about--main--info {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .app--about--main--info .profileImgContainer {
    width: 250px;
    height: 230px;
    display: block;
    margin: 0 auto;
  }
  .app--about--main--info p {
    display: block;
    margin: 4% auto;
    width: 100%;
  }
  .app--about--main--skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .app--about--main--skills .block {
    width: 95%;
  }
  .app--footer h3 {
    font-size: var(--secondaryTextSize);
    text-align: center;
    margin: 0;
    margin-bottom: 5%;
  }
  .app--footer p {
    margin-left: 5%;
    display: inline-block;
    text-align: center;
  }
  .app--footer p a {
    font-size: var(--fourthTextSize);
    text-align: center;
  }
}
/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /*Menu da mobile*/
  /*Hamburger menu*/
  .navHamburger {
    display: block;
  }
  .navHamburger .hamburgerItem {
    display: block;
    width: 25px;
    height: 3px;
    margin: 7px auto;
    background: var(--mainColor);
    transition: var(--mainTransitionValue);
  }
  .navHamburger.active .hamburgerItem:nth-child(2) {
    opacity: 0;
  }
  .navHamburger.active .hamburgerItem:nth-child(1) {
    transition: var(--mainTransitionValue);
    transform: translateY(10px) rotate(47deg);
  }
  .navHamburger.active .hamburgerItem:nth-child(3) {
    transition: var(--mainTransitionValue);
    transform: translateY(-10px) rotate(-47deg);
  }
  .navMenu {
    position: absolute;
    left: -100%;
    gap: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: var(--mainTransitionValue);
  }
  .navMenu .navLink {
    margin-bottom: 5%;
  }
  .navMenu.active {
    left: 0;
    background: var(--thirdColor);
  }
  .navMenu {
    top: 6vh;
  }
  /*Sito*/
  .app {
    /*Homepage con testo*/
    /*Pagina about*/
    /*Footer*/
  }
  .app--home {
    /*Resto del sito*/
  }
  .app--home h1 {
    font-size: var(--mainTitleSize);
  }
  .app--home--main {
    /*Lavori*/
    /*Form dell'email*/
  }
  .app--home--main--works {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .app--home--main--works .workBlock {
    width: 96%;
    margin: 2%;
  }
  .app--home--main--works .workBlock .image {
    width: 100%;
  }
  .app--home--main--contact.show h2 {
    margin-top: 5%;
    font-size: var(--mainTextSize);
  }
  .app--home--main--contact.show p {
    font-size: var(--thirdTextSize);
  }
  .app--home--main--contact.show .emailForm {
    margin: 5% auto;
    width: 70%;
  }
  .app--home--main--contact.show .emailForm input[type=text], .app--home--main--contact.show .emailForm [type=email], .app--home--main--contact.show .emailForm textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 3%;
    padding: 12px;
  }
  .app--about--main {
    margin: 5vh auto;
    /*Sezione foto e testo*/
    /*Skills*/
  }
  .app--about--main--info {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .app--about--main--info .profileImgContainer {
    width: 300px;
    height: 280px;
    display: block;
    margin: 3% auto;
  }
  .app--about--main--info p {
    display: block;
    margin: 2% auto;
    width: 100%;
  }
  .app--about--main--skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .app--about--main--skills .block {
    width: 95%;
  }
  .app--about--main--skills .block .progressBar {
    margin: 5% auto;
  }
  .app--footer h3 {
    font-size: var(--mainTextSize);
  }
  .app--footer p a {
    font-size: var(--fourthTextSize);
    text-align: center;
  }
}
/* MEDIE DIMENSIONI DELLO SCHERMO (TABLET GRANDI) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /*Menu da mobile*/
  /*Hamburger menu*/
  .navHamburger {
    display: block;
  }
  .navHamburger .hamburgerItem {
    display: block;
    width: 25px;
    height: 3px;
    margin: 7px auto;
    background: var(--mainColor);
    transition: var(--mainTransitionValue);
  }
  .navHamburger.active .hamburgerItem:nth-child(2) {
    opacity: 0;
  }
  .navHamburger.active .hamburgerItem:nth-child(1) {
    transition: var(--mainTransitionValue);
    transform: translateY(10px) rotate(47deg);
  }
  .navHamburger.active .hamburgerItem:nth-child(3) {
    transition: var(--mainTransitionValue);
    transform: translateY(-10px) rotate(-47deg);
  }
  .navMenu {
    position: absolute;
    left: -100%;
    gap: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: var(--mainTransitionValue);
  }
  .navMenu .navLink {
    margin-bottom: 5%;
  }
  .navMenu.active {
    left: 0;
    background: var(--thirdColor);
  }
  .navMenu {
    top: 5vh;
  }
  /*Sito*/
  .app {
    /*Homepage*/
  }
  .app--home {
    /*Resto del sito*/
  }
  .app--home--main {
    /*Lavori*/
    /*Form dell'email*/
  }
  .app--home--main--works {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .app--home--main--contact.show h2 {
    margin-top: 5%;
    font-size: var(--mainTextSize);
  }
  .app--home--main--contact.show p {
    font-size: var(--thirdTextSize);
  }
  .app--home--main--contact.show .emailForm {
    margin: 5% auto;
    width: 50%;
  }
  .app--home--main--contact.show .emailForm label {
    font-size: var(--thirdTextSize);
    text-align: start;
    padding: 0 0 2px 5px;
  }
  .app--home--main--contact.show .emailForm input[type=text], .app--home--main--contact.show .emailForm [type=email], .app--home--main--contact.show .emailForm textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 3%;
    padding: 12px;
  }
}
/* MEDIO-GRANDI DIMENSIONI DELLO SCHERMO (PC) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  /*Sito*/
  .app {
    /*Homepage*/
    /*Pagina about*/
  }
  .app--home {
    /*Resto del sito*/
  }
  .app--home h1 {
    font-size: var(--bigTitleSize);
  }
  .app--home--main {
    /*Form dell'email*/
  }
  .app--home--main--contact.show .emailForm {
    margin: 5% auto;
    width: 40%;
  }
  .app--home--main--contact.show .emailForm label {
    text-align: start;
    padding: 0 0 2px 5px;
  }
  .app--home--main--contact.show .emailForm input[type=text], .app--home--main--contact.show .emailForm [type=email], .app--home--main--contact.show .emailForm textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 3%;
    padding: 12px;
  }
  .app--about {
    /*Resto del sito e titolo*/
  }
  .app--about--main {
    /*Skills*/
  }
  .app--about--main h4 {
    font-size: var(--titleSize);
  }
  .app--about--main .block {
    margin: 2%;
    width: 300px;
  }
}
@media only screen and (min-width: 2441px) {
  /*Sito*/
  .app {
    /*Homepage*/
    /*Footer*/
  }
  .app--home {
    /*Resto del sito*/
  }
  .app--home h1 {
    font-size: var(--bigTitleSize);
  }
  .app--home--main {
    /*Form email*/
  }
  .app--home--main--contact.show h2 {
    margin-top: 5%;
    font-size: var(--titleSize);
  }
  .app--home--main--contact.show p {
    font-size: var(--mainTextSize);
  }
  .app--home--main--contact.show .emailForm {
    margin: 3% auto;
    width: 40%;
  }
  .app--home--main--contact.show .emailForm label {
    font-size: var(--mainTextSize);
    text-align: start;
    padding: 0 0 2px 5px;
  }
  .app--home--main--contact.show .emailForm input[type=text], .app--home--main--contact.show .emailForm [type=email] {
    height: 50px;
  }
  .app--home--main--contact.show .emailForm input[type=text]::-moz-placeholder, .app--home--main--contact.show .emailForm [type=email]::-moz-placeholder {
    font-size: var(--secondaryTextSize);
  }
  .app--home--main--contact.show .emailForm input[type=text]:-ms-input-placeholder, .app--home--main--contact.show .emailForm [type=email]:-ms-input-placeholder {
    font-size: var(--secondaryTextSize);
  }
  .app--home--main--contact.show .emailForm input[type=text]::placeholder, .app--home--main--contact.show .emailForm [type=email]::placeholder {
    font-size: var(--secondaryTextSize);
  }
  .app--home--main--contact.show .emailForm input[type=text], .app--home--main--contact.show .emailForm [type=email], .app--home--main--contact.show .emailForm textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 3%;
    padding: 12px;
    font-size: var(--secondaryTextSize);
  }
  .app--home--main--contact.show .emailForm input[type=submit] {
    font-size: var(--secondaryTitleSize);
  }
  .app--footer h3 {
    font-size: var(--titleSize);
  }
  .app--footer h3 .showEmailForm {
    font-size: var(--secondaryTitleSize);
  }
  .app--footer p a {
    font-size: var(--mainTextSize);
  }
}
/* DARK MODE */
/* LIGHT */
@media (prefers-color-scheme: light) {
  :root {
    --mainColor: var(--mainColor-light);
    --secondaryColor: var(--secondaryColor-light);
    --thirdColor: var(--thirdColor-light);
    --fourthColor: var(--fourthColor-light);
    --fifthColor: var(--fifthColor-light);
    --opacityColor: var(--opacityColor-light);
  }
}