/************************************************************************** 
    STYLE PER LA DARK O LIGHT MODE IN BASE ALLE IMPOSTAZIONI DI SISTEMA 
**************************************************************************/

/* DARK MODE */
@media(prefers-color-scheme: dark) {
    :root {
        --bodyColor:        var(--bodyColor-dark);
        --mainColor:        var(--mainColor-dark);
        --secondaryColor:   var(--secondaryColor-dark);
        --menuBar:          var(--menuBar-dark);
        --title:            var(--title-dark);
        --mainText:         var(--mainText-dark);
        --buttonHov:        var(--buttonHov-dark);
        --buttonContact:    var(--buttonContact-dark);
        --secondaryButton:  var(--secondaryButton-dark);
        --opacity:          var(--opacity-dark);
    }
}

/* LIGHT */
@media(prefers-color-scheme: light) {
    :root {
        --bodyColor:        var(--bodyColor-light);
        --mainColor:        var(--mainColor-light);
        --secondaryColor:   var(--secondaryColor-light);
        --menuBar:          var(--menuBar-light);
        --title:            var(--title-light);
        --mainText:         var(--mainText-light);
        --secondaryText:    var(--secondaryText-light);
        --buttonHov:        var(--buttonHov-light);
        --buttonContact:    var(--buttonContact-light);
        --secondaryButton:  var(--secondaryButton-light);
        --opacity:          var(--opacity-light);
    }
}