/* STYLE PER LA DARK O LIGHT MODE IN BASE ALLE IMPOSTAZIONI DI SISTEMA */

/* DARK MODE */
@media(prefers-color-scheme: dark) {
    :root {
        --bodyColor:        var(--bodyColor-dark);
        --secondaryColor:   var(--secondaryColor-dark);
        --menuBar:          var(--menuBar-dark);
        --title:            var(--title-dark);
        --mainText:         var(--mainText-dark);
        --button-hov:       var(--button-hov-dark);
        --button-contact:   var(--button-contact-dark);
        --secondary-button: var(--secondary-button-dark);
        --opacity:          var(--opacity-dark);
    }
}

/* LIGHT */
@media(prefers-color-scheme: light) {
    :root {
        --bodyColor:        var(--bodyColor-light);
        --secondaryColor:   var(--secondaryColor-light);
        --menuBar:          var(--menuBar-light);
        --title:            var(--title-light);
        --mainText:         var(--mainText-light);
        --button-hov:       var(--button-hov-light);
        --button-contact:   var(--button-contact-light);
        --secondary-button: var(--secondary-button-light);
        --opacity:          var(--opacity-light);
    }
}