/************************************************************************** 
    STYLE PER LA DARK O LIGHT MODE IN BASE ALLE IMPOSTAZIONI DI SISTEMA 
**************************************************************************/

/* DARK MODE */
@media(prefers-color-scheme: dark) {
    :root {
        --bodyColor:        var(--bodyColor-dark);
        --mainColor:        var(--mainColor-dark);
        --secondaryColor:   var(--secondaryColor-dark);
        --opacityColor:     var(--opacityColor-dark);
    }
}

/* LIGHT */
@media(prefers-color-scheme: light) {
    :root {
        --bodyColor:        var(--bodyColor-light);
        --mainColor:        var(--mainColor-light);
        --secondaryColor:   var(--secondaryColor-light);
        --thirdColor:       var(--thirdColor-light);
        --opacityColor:     var(--opacityColor-light);
    }
}