/******************************************************
    VARIABILI PER I COLORI E LE GRANDEZZE DEI TESTI
******************************************************/

/* COLOR PALETTE */
:root {
    /* Light theme */
    --bodyColor-light :        #DEF2F1;
    --mainColor-light:         #FFFFFF;
    --secondaryColor-light:    #2B7A78;
    --menuBar-light:           #17252A;
    --title-light:             darkgoldenrod;
    --mainText-light:          #FFFFFF;
    --secondaryText-light:     #000000;
    --buttonHov-light:         red;
    --secondaryButton-light:   #00ACEE;
    --opacity-light:           #E4E7EB;
    --skillsTextColor-light:   #FFFFFF;

    /* Dark theme */
    --bodyColor-dark:         #ccc;
    --mainColor-dark:         #ccc;
    --secondaryColor-dark:    rgb(171, 171, 171);
    --menuBar-dark:           #DEF2F1;
    --title-dark:             darkgoldenrod;
    --mainText-dark:          black;
    --buttonHov-dark:         red;
    --secondaryButton-dark:   #00ACEE;
    --opacity-dark:           #E4E7EB;
    --skillsTextColor-dark:   #FFFFFF;
}

/* GRANDEZZE DEI TESTI */
:root {
    --mainTitle: 65px;
    --mobileTitle: 35px;
    --mainTextSize: 25px;
    --secondaryTextSize: 20px;
    --thirdTextSize: 17px;
    --fourthTextSize: 14px;
    --secondaryRadius: 15px;
    --radius: 10px;
    --transition: 0.5s;
    --secondaryTransition: 0.3s;
}