/******************************************************
    VARIABILI PER I COLORI E LE GRANDEZZE DEI TESTI
******************************************************/

/* COLOR PALETTE */
:root {
    /* Light theme */
    --bodyColor-light :        rgb(255, 255, 255);
    --mainColor-light:         #fff;
    --secondaryColor-light:    rgb(219, 230, 246);
    --menuBar-light:           #aaa;
    --title-light:             darkgoldenrod;
    --mainText-light:          rgb(66, 66, 66);
    --secondaryText-light:     #fff;
    --buttonHov-light:         red;
    --secondaryButton-light:   #00ACEE;
    --opacity-light:           #E4E7EB;

    /* Dark theme */
    --bodyColor-dark:         #ccc;
    --mainColor-dark:         #ccc;
    --secondaryColor-dark:    rgb(171, 171, 171);
    --menuBar-dark:           #aaa;
    --title-dark:             darkgoldenrod;
    --mainText-dark:          black;
    --buttonHov-dark:         red;
    --secondaryButton-dark:   #00ACEE;
    --opacity-dark:           #E4E7EB;
}

/* GRANDEZZE DEI TESTI */
:root {
    --mainTitle: 65px;
    --mobileTitle: 35px;
    --mainTextSize: 25px;
    --secondaryTextSize: 20px;
    --thirdTextSize: 17px;
    --fourthTextSize: 14px;
    --secondaryRadius: 15px;
    --radius: 10px;
    --transition: 0.5s;
    --secondaryTransition: 0.3s;
}