/*******************************************************************
FOGLIO DI STILE PER LE PROPRIETA' USATE NELLA PAGINA "CONTACT" SIA 
PER DESKTOP CHE PER MOBILE
*******************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Campo del form da compilare*/
#form {
    margin-top: 2%;
}
/*Template per l'invio delle email*/
.field {
    padding-left: 35%;
    padding-bottom: 2%;
}
.field label {
    display: block;
    padding: 1% 0;
    font-size: 20px;
    color: var(--main-text);
} 
.field input {
    display: block;
    width: 500px;
    font-size: 20px;
    border: 1px solid var(--main-text);
    background-color: var(--opacity);
}
/*Stile per lo spazio del messaggio*/
#message {
    height: 200px;
    border: 1px solid var(--main-text);
}

/*Bottone per l'invio del messaggio*/
input[type="submit"] {
    display: block;
    margin-left: 49%;
    padding: 5px 20px;
    font-size: 20px;
    background-color: var(--button-contact);
    color: var(--main-text);
}
#button:hover {
    color: var(--button-hov);
    transition: 0.3s;
}

/*Paragrafo*/
p {
    font-size: 25px;
    padding-left: 5%;
    font-style: italic;
    display: inline;
    color: var(--main-text);
}

/*Riga di informazioni*/
.row {
    width: 80%;
    height: 700px;
    margin-top: 1%;
    margin-left: 10%;
    background: var(--secondary-bg-color);
    box-shadow: 10px  10px 25px var(--opacity);
}


/*Style per la visualizzazione da mobile*/
@media(max-width: 700px) {
    /*Bottoni superiori*/
    nav .fa {
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin: 10px;
        color: var(--main-text);
    }
    .links {
        height: 100vh;
        width: 200px;
        background: var(--menu-bg-color);
        position: fixed;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 0.5s
    }
    .links ul li {
        display: block;
    }

    /*Riga di informazioni*/
    .row {
        margin-top: 20%;
        height: 600px;
    }

    /*Template per l'invio delle email*/
    .field {
        padding-top: 15%;
        padding-left: 18%;
        padding-bottom: 15%;
    }
    .field input {
        width: 200px;
    }
    input[type="submit"] {
        margin-left: 36%;    
    }
}