@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Blocco in sovrimpressione*/
.sub_block {
    height: 82vh;
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px  10px 15px #ccc;
    align-items: center;
}
/*Grandezza del titolo nella home*/
.sub_block > h2 {
    font-size: 70px;
    font-style: italic;
    padding: 8% 13%;
    color:darkgoldenrod;
}
/*Paragrafo*/
.sub_block > p {
    font-size: 20px;
    font-style: italic;
    display: inline;
    padding: 8% 13%;
    color: #000;
}
/*Immagine profilo*/
.img_home {
    width: 500px;
    float: right;
    margin-top: 9%;
    margin-right: 1%;
    fill: red;
    clip-path: circle();
}

/*Social*/
.social {
    display: inline-flex;
    margin-left: 5%;
}
.social-icon {
    font-size: 25px;
    color: black;
}
.sub_block > .social > a > .fa:hover {
    color: red;
}

/*Bottone contact me*/
.button--contact {
    display: inline-block;
    text-decoration: none;
    margin: 4% 13%;
    padding: 15px 15px;
    font-size: 25px;
    font-style: italic;
    color: black;
    background: #00ACEE;
    cursor: pointer;
    border: 1px solid #00ACEE;
    border-radius: 15px;
}
.button--contact:hover {
    color: red;
    transition: 0.3s;
}


/*Style per la visualizzazione da mobile*/
@media(max-width: 700px) {
    /*Bottoni superiori*/
    nav .fa {
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin: 10px;
        color: black;
    }
    .links {
        height: 100vh;
        width: 200px;
        background: #0095B6;
        position: fixed;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 0.5s
    }
    .links ul li {
        display: block;
    }

    /*Blocco in sovrimpressione*/
    .sub_block {
        height: 85vh;
    }

    /*Sottotitolo delle pagine*/
    h4 {
        font-size: 20px;
        font-style: italic;
        padding-left: 20%;
    }

    /*Grandezza delle immagini nella home*/
    .img_home {
        float: left;
        width: 280px;
    }
    /*Grandezza del titolo*/
    .sub_block > h2 {
        text-align: center;
        font-size: 35px;
    }
    /*Grandezza del testo nei paragrafi*/
    .sub_block > p {
        text-align: center;
        font-size: 20px;
    }

    /*Social*/
    .social {
        display: inline-block;
        margin-left: 10%;
    }
    .social-icon {
        font-size: 25px;
        color: black;
    }
}