@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Header della pagina*/
.header {
    width: 100%;
}
/*Titolo della pagina*/
.header h1 {
    font-size: 25px;
    padding-left: 10px;
    background-color: #5D8AA8;
    font-style: italic;
    color: #000000;
}

/*Corpo principale della pagina*/
.block {
    height: 100vh;
    width: 100%;
    background-color: #5D8AA8;
    background-position: center;
    background-size: cover;
    position: relative;
}

/*Blocco in sovrapposizione*/
.sub_block {
    height: 80vh;
    width: 80%;
    background-color: #fff;
    position: relative;
    left: 10%;
    top: 7%;
    border-radius: 20px;
}
/*Testo dentro al sub_block*/
/*Primo titolo del sub_block*/
.sub_block h2 {
    font-size: 50px;
    font-style: italic;
    padding: 5%;
    padding-bottom: 0;
    color:darkgoldenrod;
}
/*Stile delle scritte nei paragrafi*/
.sub_block p {
    font-size: 25px;
    font-style: italic;
    padding: 2% 5%;
    color: #000;
}
/*Immagine profilo*/
.sub_block > img {
    float: right;
    border-radius: 20px;
    margin: 200px 15px;
}

/*Bottoni*/
.button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 28px;
    margin: 10% 5%;
    border-radius: 15px;
    font-size: 25px;
    font-style: italic;
    background: #0095B6;
    color: #fff;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 30px 0;
}

.icons {

} 

/*Icone dei social*/
.icons .fa {
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    text-decoration: none;
}
.fa--ig {
    color: red;
}
.fa--github {
    color: #000;
}