/*******************************************************************
FOGLIO DI STILE PER LE PROPRIETA' USATE NELLA PAGINA "PROJECTS" SIA 
PER DESKTOP CHE PER MOBILE
*******************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Separazioen del titolo dalle celle*/
.block > h2 {
    margin-bottom: 5%;
}

/*Style per le icone nella pagina*/
.fa {
    text-decoration: none;
    font-size: 40px;
    padding: 2% 2%;
    color: var(--body-text-color);
}
.fa:hover {
    color: var(--body-button-hov);
}

/*Riga di informazioni*/
.project_row {
    width: 90%;
    margin-left: 5%;
    background: var(--row-bg-color);
    box-shadow: 10px  10px 25px var(--opacity);
}

/*Paragrafo*/
p {
    font-size: 25px;
    padding-left: 5%;
    font-style: italic;
    display: inline;
    color: var(--body-text-color);
}


/*Style per la visualizzazione da mobile*/
@media(max-width: 700px) {
    /*Bottoni superiori*/
    nav .fa {
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin: 10px;
        color: var(--body-text-color);
    }
    .links {
        height: 100vh;
        width: 200px;
        background: var(--menu-bg-color);
        position: fixed;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 0.5s
    }
    .links ul li {
        display: block;
    }

    /*Blocco in sovrimpressione*/
    .sub_block {
        margin-top: 20%;
        height: 70vh;
        width: 40vh;
    }
    /*Grandezza del titolo*/
    .sub_block > h2 {
        text-align: center;
        font-size: 35px;
    }
    /*Grandezza del testo nei paragrafi*/
    .sub_block > p {
        text-align: center;
        font-size: 20px;
    }
}