@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Colore principale del body*/
body  {
    background: rgb(233, 242, 246);
}

/*Bottoni superiori della pagina*/
nav {
    align-items: center;
    padding: 0 1%;
    border-bottom: 1px solid #ccc;
}
nav .fa {
    display: none;
}
.links {
    text-align: right;
    flex: 1;
}
.links ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
.links ul li a {
    text-decoration: none;
    font-size: 17px;
}

/*Bottoni secondari*/
.button {
    display: inline-block;
    text-decoration: none;
    margin: 10% 5%;
    font-size: 25px;
    font-style: italic;
    color: black;
    cursor: pointer;
}
.button:hover {
    color: red;
    transition: 0.3s;
}
/*Bottone colorato che indica in quale pagina ci si trova*/
.button--sel {
    color: red;
}

/*Corpo principale della pagina*/
.block {
    height: 100%;
    width: 100%;
}

h2{
    font-size: 45px;
    font-style: italic;
    padding: 1% 5%;
    color:darkgoldenrod;
}


/*Style per la visualizzazione da mobile*/
@media(max-width: 700px) {
    /*Bottoni superiori*/
    nav .fa {
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin: 10px;
        color: black;
    }
    .links {
        height: 100vh;
        width: 200px;
        background: #0095B6;
        position: fixed;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 0.5s
    }
    .links ul li {
        display: block;
    }

    /*Blocco in sovrimpressione*/
    .sub_block {
        height: 85vh;
    }

    /*Sottotitolo delle pagine*/
    h4 {
        font-size: 20px;
        font-style: italic;
        padding-left: 20%;
    }

    /*Grandezza delle immagini nella home*/
    .img_home {
        float: left;
        width: 280px;
    }
    /*Grandezza del titolo*/
    .sub_block > h2 {
        text-align: center;
        font-size: 35px;
    }
    /*Grandezza del testo nei paragrafi*/
    .sub_block > p {
        text-align: center;
        font-size: 20px;
    }
}