/******************************************************************
FOGLIO DI STILE PER ALCUNE DELLE PROPRIETA' USATE IN TUTTO IL SITO
SIA DESKTOP CHE PER MOBILE
******************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

/*COLORI NELLE PAGINE*/
/*Light*/
:root {
    --body-bg-color :   #D9E2EC;
    --body-title:       darkgoldenrod;
    --body-text-color:  black;
    --row-bg-color:     #FFF;
    --body-button-hov:  red;
    --body-button-sec:  #00ACEE;
    --menu-bg-color:    #0095B6;
    --skillsRow-bg:     rgb(236, 236, 236);
    --opacity:          #E4E7EB;
    --button-contact:   #0D897B;
}
/*Dark*/

body {
    background-color: var(--body-bg-color);
}


/*Proprietò dei bottoni superiori*/
nav {
    align-items: center;
    padding: 0 1%;
}
nav .fa {
    display: none;
}
.links {
    text-align: right;
    flex: 1;
}
.links ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}
.links ul li a {
    text-decoration: none;
    font-size: 17px;
}
/*Stile dei bottoni*/
.button {
    display: inline-block;
    text-decoration: none;
    margin: 10% 5%;
    font-size: 25px;
    font-style: italic;
    color: var(--body-text-color);
    cursor: pointer;
}
.button:hover {
    color: var(--body-button-hov);
    transition: 0.3s;
}
/*Bottone colorato che indica in quale pagina ci si trova*/
.button--sel {
    color: var(--body-button-hov);
}

/*Corpo principale della pagina*/
.block {
    height: 100%;
    width: 100%;
}

/*Titolo*/
h2{
    font-size: 45px;
    font-style: italic;
    padding: 1% 5%;
    color: var(--body-title);
}


/*Style per la visualizzazione da mobile*/
@media(max-width: 700px) {
    /*Bottoni superiori*/
    nav .fa {
        display: block;
        font-size: 20px;
        cursor: pointer;
        margin: 10px;
        color: var(--body-button-hov);
    }
    .links {
        height: 100vh;
        width: 200px;
        background: var(--menu-bg-color);
        position: fixed;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 0.5s
    }
    .links ul li {
        display: block;
    }

    /*Blocco in sovrimpressione*/
    .sub_block {
        height: 85vh;
    }

    /*Grandezza delle immagini nella home*/
    .img_home {
        float: left;
        width: 280px;
    }
    /*Grandezza del titolo*/
    .sub_block > h2 {
        text-align: center;
        font-size: 35px;
    }
    /*Grandezza del testo nei paragrafi*/
    .sub_block > p {
        text-align: center;
        font-size: 20px;
    }
}