@import '../abstract/variables';

.app {
    &--footer {
        padding: 0 0 3% 0;
        max-width: 100%;
        p {
            margin: 0 0 0 8%;
            a {
                text-decoration: none;
                padding: 12px 8px;
                margin: 0 0 5% 0;
                color: var(--thirdColor);
                font-size: var(--secondaryTextSize);
            }
        }
    }
}