@import '../abstract/variables';

/* SMARTPHONE */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    @include hamburger-menu;
    .navMenu {
        top: 8vh;
    }

    .app {
        &__emailForm.show {
            h2 {
                margin-top: 5%;
                font-size: var(--secondaryTextSize);
            }
            p {
                font-size: var(--fourthTextSize);
            }
            .app__emailForm__form {
                margin: 5% auto;
                width: 70%;
                input[type=text], [type=email], textarea {
                    width: 100%;
                    box-sizing: border-box;
                    resize: vertical;
                    margin-bottom: 3%;
                    padding: 12px;
                }
            }
        }
    }

    .home {
        &__title {
            h1 {
                font-size: var(--secondaryTitleSize);
            }
        }

        &__footer {
            h3 {
                font-size: var(--secondaryTextSize);
                text-align: center;
                margin: 0;
                margin-bottom: 5%;
            }
            p {
                margin-left: 5%;
                display: inline-block;
                text-align: center;
                a {
                    font-size: var(--fourthTextSize);
                    text-align: center;
                }
            }
        }
    }
}




/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    @include hamburger-menu;
    .navMenu {
        top: 6vh;
    }

    .app {
        &__emailForm.show {
            h2 {
                margin-top: 5%;
                font-size: var(--mainTextSize);
            }
            p {
                font-size: var(--thirdTextSize);
            }
            .app__emailForm__form {
                margin: 5% auto;
                width: 70%;
                input[type=text], [type=email], textarea {
                    width: 100%;
                    box-sizing: border-box;
                    resize: vertical;
                    margin-bottom: 3%;
                    padding: 12px;
                }
            }
        }
        
        .home {
            &__title {
                font-size: var(--mainTitleSize);
            }

            &__footer {
                h3 {
                    font-size: var(--mainTextSize);
                }
                p {
                    a {
                        font-size: var(--fourthTextSize);
                        text-align: center;
                    }
                }
            }
        }
    }
}



/* MEDIE DIMENSIONI DELLO SCHERMO (TABLET GRANDI) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    @include hamburger-menu;
    .navMenu {
        top: 5vh
    }

    .app {
        &__emailForm.show {
            h2 {
                margin-top: 5%;
                font-size: var(--mainTextSize);
            }    
            p {
                font-size: var(--thirdTextSize);
            }        
            .app__emailForm__form {
                margin: 5% auto;
                width: 50%;
                label {
                    font-size: var(--thirdTextSize);
                    text-align: start;
                    padding: 0 0 2px 5px;
                } 
                input[type=text], [type=email], textarea {
                    width: 100%;
                    box-sizing: border-box;
                    resize: vertical;
                    margin-bottom: 3%;
                    padding: 12px;
                }
            }
        }
    }
}



/* MEDIO-GRANDI DIMENSIONI DELLO SCHERMO (PC) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {    
    .app {
        &__emailForm.show {
            .app__emailForm__form {
                margin: 5% auto;
                width: 40%;
                label {
                    text-align: start;
                    padding: 0 0 2px 5px;
                }
                input[type=text], [type=email], textarea {
                    width: 100%;
                    box-sizing: border-box;
                    resize: vertical;
                    margin-bottom: 3%;
                    padding: 12px;
                }
            }
        }
    }
    
    .home {
        &__title {
            font-size: var(--bigTitleSize);
        }
    }
}



/*PC DI GROSSE DIMENSIONI*/
@media only screen and (min-width: 2441px) {
    .app {
        &__emailForm.show {
            h2 {
                margin-top: 5%;
                font-size: var(--titleSize);
            }
            p {
                font-size: var(--mainTextSize);
            }
            .app__emailForm__form {
                margin: 3% auto;
                width: 40%;
                label {
                    font-size: var(--mainTextSize);
                    text-align: start;
                    padding: 0 0 2px 5px;
                }
                input[type=text], [type=email] {
                    height: 50px;

                    &::placeholder {
                        font-size: var(--secondaryTextSize);
                    }
                }
                input[type=text], [type=email], textarea {
                    width: 100%;
                    box-sizing: border-box;
                    resize: vertical;
                    margin-bottom: 3%;
                    padding: 12px;
                    font-size: var(--secondaryTextSize);
                }
                input[type=submit] {
                    font-size: var(--secondaryTitleSize);
                }
            }
        }
    }

    .home {
        &__footer {
            h3 {
                font-size: var(--titleSize);
                .showEmailForm {
                    font-size: var(--secondaryTitleSize);
                }
            }
            p {
                a {
                    font-size: var(--mainTextSize);
                }
            }
        }
    }
}