/****************************************
    STRUTTURA PRINCIPALE DEL SITO WEB 
****************************************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* SCORRIMENTO DELLA PAGINE AL CLICK DEI BOTTONI */
html {
  scroll-behavior: smooth;
}

/* COLORE DI SFONDO */
body {
  background: var(--bodyColor);
}

/* BLOCCO DELLA PAGINA */
.block {
  /* FOTO della HOME */
  /* HOMEPAGE */
}
.block .imgProfile {
  width: 550px;
  padding: 5%;
  margin-left: 2%;
  transition: var(--secondaryTransitionValue) linear;
}
.block .imgProfile:hover {
  transform: scale(1.1);
  transition: var(--mainTransitionValue) linear;
}
.block .main {
  padding: 3%;
  width: 600px;
  float: right;
  text-align: start;
  /* SOCIAL NELLA HOME*/
  /* SEZIONE PORTFOLIO (TUTTI I LAVORI) */
  /* SEZIONE DELLE SKILLS */
  /* SEZIONE CONTATTAMI */
  /* SEZIONE DEL FOOTER DEL SITO */
}
.block .main h1 {
  display: block;
  color: var(--mainColor);
  font-size: var(--mainTextSize);
  margin-top: 5%;
  padding: 2%;
}
.block .main p {
  font-size: var(--thirdTextSize);
  color: var(--secondaryColor);
  margin-top: 5%;
  padding: 2%;
}
.block .main--social {
  font-size: var(--secondaryTextSize);
  color: var(--secondaryColor);
  margin-top: 3%;
  padding: 2%;
}
.block .main--social:hover {
  cursor: pointer;
  color: var(--mainColor);
}
.block .main--portfolio {
  margin-top: 10%;
  margin-left: 0.5%;
  padding-bottom: 3%;
  width: 99%;
  /*Lavori extra inizialmente nascosti*/
  /*Contenitore del buttone show more*/
  /*Blocch dei vari lavori*/
}
.block .main--portfolio h1 {
  text-align: center;
  font-size: var(--mainTextSize);
}
.block .main--portfolio p {
  text-align: center;
  font-size: var(--thirdTextSize);
  color: var(--secondaryColor);
}
.block .main--portfolio .moreWorks {
  display: none;
}
.block .main--portfolio .moreWorks.showMore {
  display: inline;
}
.block .main--portfolio .showMore {
  margin-top: 3%;
  text-align: center;
}
.block .main--portfolio .main--portfolio--works {
  display: inline-block;
  width: 700px;
  height: 400px;
  margin-top: 5%;
  padding: 1%;
  box-shadow: 5px 5px 50px var(--opacityColor);
  /*Blocchi in posizione dispari*/
  /*Blocchi in posizione pari*/
  /*Immagine nei blocchi*/
  /*Testo nei blocchi*/
}
.block .main--portfolio .main--portfolio--works--odd {
  margin-left: 5%;
}
.block .main--portfolio .main--portfolio--works--even {
  margin-left: 10%;
}
.block .main--portfolio .main--portfolio--works h3 {
  padding: 2%;
  font-size: var(--thirdTextSize);
}
.block .main--portfolio .main--portfolio--works p {
  margin-top: 1%;
  font-size: var(--fourthTextSize);
}
.block .main--portfolio .main--portfolio--works--img {
  width: 100%;
  height: 300px;
  transition: var(--mainTransitionValue) linear;
}
.block .main--portfolio .main--portfolio--works--img:hover {
  transform: scale(1.1);
  transition: var(--mainTransitionValue) linear;
}
.block .main--portfolio .main--portfolio--works--text {
  margin-top: 0;
  width: 100%;
  height: 100px;
  background-color: var(--thirdColor);
}
.block .main--skills {
  width: 99%;
  margin-left: 0.5%;
  margin-top: 10%;
  /*Colore del nome*/
  /*Barra che rappresenta la percentuale*/
}
.block .main--skills h1 {
  text-align: center;
  font-size: var(--mainTextSize);
}
.block .main--skills p {
  text-align: center;
  font-size: var(--thirdTextSize);
  color: var(--secondaryColor);
  margin-bottom: 1%;
}
.block .main--skills .skillsText {
  margin-bottom: 0;
}
.block .main--skills .skillsText#html {
  color: #E34C26;
}
.block .main--skills .skillsText#css {
  color: #2965F1;
}
.block .main--skills .skillsText#scss {
  color: #CD6799;
}
.block .main--skills .skillsText#js {
  color: #F0DB4F;
}
.block .main--skills .skillsText#c {
  color: #165CAA;
}
.block .main--skills .skillsText#java {
  color: #ED1D25;
}
.block .main--skills .skillsText#git {
  color: #F1502F;
}
.block .main--skills--skillsContainer {
  width: 99%;
  height: 15px;
  margin-left: 0.5%;
  margin-bottom: 2%;
  border: 1px solid black;
  border-radius: var(--radiusSize);
  font-size: var(--fourthTextSize);
  color: var(--thirdColor);
}
.block .main--skills--skillsContainer .html {
  border-radius: var(--radiusSize);
  text-align: end;
  width: 45%;
  height: 15px;
  background-color: #E34C26;
}
.block .main--skills--skillsContainer .css {
  border-radius: var(--radiusSize);
  text-align: end;
  width: 40%;
  height: 15px;
  background-color: #2965F1;
}
.block .main--skills--skillsContainer .scss {
  border-radius: var(--radiusSize);
  text-align: end;
  width: 40%;
  height: 15px;
  background-color: #CD6799;
}
.block .main--skills--skillsContainer .js {
  border-radius: var(--radiusSize);
  text-align: end;
  width: 20%;
  height: 15px;
  background-color: #F0DB4F;
}
.block .main--skills--skillsContainer .c {
  border-radius: var(--radiusSize);
  text-align: end;
  width: 30%;
  height: 15px;
  background-color: #165CAA;
}
.block .main--skills--skillsContainer .java {
  border-radius: var(--radiusSize);
  text-align: end;
  width: 1%;
  height: 15px;
  background-color: #ED1D25;
}
.block .main--skills--skillsContainer .git {
  border-radius: var(--radiusSize);
  text-align: end;
  width: 15%;
  height: 15px;
  background-color: #F1502F;
}
.block .main--contact {
  margin-top: 10%;
  margin-left: 1%;
  padding-bottom: 1%;
  width: 98%;
  /*Form da compilare per mandare l'email*/
}
.block .main--contact h1 {
  text-align: center;
  font-size: var(--mainTextSize);
}
.block .main--contact p {
  text-align: center;
  font-size: var(--thirdTextSize);
  color: var(--secondaryColor);
  margin-bottom: 1%;
}
.block .main--contact--emailForm {
  margin: 0 auto;
  font-size: var(--secondaryTextSize);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.block .main--contact--emailForm .personalInfo {
  display: block;
  padding: 12px 8px;
  border: none;
  font-size: var(--secondaryTextSize);
  height: 30px;
  width: 500px;
  margin-bottom: 3%;
  margin-top: 1%;
}
.block .main--contact--emailForm .message {
  display: block;
  padding: 12px 8px;
  border: none;
  font-size: var(--secondaryTextSize);
  height: 250px;
  width: 500px;
  margin-bottom: 3%;
}
.block .main--footer {
  width: 98%;
  margin-top: 10%;
  margin-bottom: 0.5%;
  margin-left: 1%;
  text-align: center;
  font-size: var(--fourthTextSize);
  color: var(--secondaryColor);
}

/***********************************************
    STILE DEI VARI BOTTONI PRESENTI NEL SITO
***********************************************/
/* STYLE DEI BOTTONI PER LA SCELTA DELLE PAGINE */
nav {
  background-color: var(--thirdColor);
  padding: 1%;
}

.links {
  text-align: end;
  flex: 1;
}
.links ul p {
  font-size: var(--secondaryTextSize);
  font-style: bold;
  float: left;
}
.links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}
.links ul li a {
  text-decoration: none;
  font-size: var(--fourthTextSize);
}

/* BOTTONI DI COLLEGAEMNTO ALLE PARTI DEL SITO */
.button {
  display: inline-block;
  text-decoration: none;
  font-size: var(--mainTextSize);
  color: var(--mainColor);
  cursor: pointer;
}
.button--sel {
  color: var(--mainColor);
  font-style: italic;
}

/* BOTTONE INVIO EMAIL */
.sendButton {
  font-size: var(--thirdTextSize);
  color: var(--secondaryColor);
  padding: 12px 8px;
  border-radius: var(--thirdRadius);
  background-color: var();
  border: 1px solid var(--secondaryColor);
}
.sendButton:hover {
  color: var(--mainColor);
}

/* BOTTONE SHOW MORE */
.showMoreBtn {
  margin: 0 auto;
  border: 1px solid var(--secondaryColor);
  text-decoration: none;
  padding: 12px 8px;
  border-radius: var(--radiusSize);
  color: var(--secondaryColor);
  outline: none;
  cursor: pointer;
}
.showMoreBtn:hover {
  color: var(--mainColor);
}

/******************************************************
    VARIABILI PER I COLORI E LE GRANDEZZE DEI TESTI
******************************************************/
/* COLOR PALETTE */
:root {
  /* Light theme */
  --bodyColor-light: #EFEFEF;
  --mainColor-light: #000000;
  --secondaryColor-light: rgb(102, 102, 102);
  --thirdColor-light: #FFFFFF;
  --opacityColor-light: #E4E7EB;
  /* Dark theme */
  --bodyColor-dark: #ccc;
  --mainColor-dark: #FFFFFF;
  --secondaryColor-dark: rgb(171, 171, 171);
  --opacityColor-dark: #E4E7EB;
}

/* GRANDEZZE DEI TESTI */
:root {
  --mainTitleSize: 65px;
  --mobileTitleSize: 35px;
  --mainTextSize: 35px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 14px;
  --secondaryRadius: 15px;
  --thirdRadius: 7px;
  --radiusSize: 10px;
  --mainTransitionValue: 0.5s;
  --secondaryTransitionValue: 0.3s;
}

/*************************************
    STYLE DEL SITO VISTO DA MOBILE 
*************************************/
/* SMARTPHONE */
@media (max-width: 700px) {
  /* BOTTONI per la SCELTA DELLE PAGINE */
  nav {
    padding: 0;
    display: block;
  }
  .links {
    text-align: center;
  }
  .links ul p {
    margin-left: 0.5%;
    width: 99%;
    text-align: center;
  }
  /* BLOCCO PRINCIPALE della PAGINA */
  .block {
    /* FOTO della HOME */
    /* HOMEPAGE */
  }
  .block .imgProfile {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  .block .main {
    margin: 0 auto;
    width: 350px;
    /* SEZIONE PORTFOLIO */
    /* SEZIONE delle SKILLS */
    /* SEZIONE CONTATTAMI */
    /* SEZIONE del FOOTER del SITO */
  }
  .block .main h1 {
    text-align: center;
    font-size: var(--thirdTextSize);
  }
  .block .main p {
    font-size: var(--fourthTextSize);
  }
  .block .main--portfolio {
    margin-top: 100%;
  }
  .block .main--portfolio h1 {
    font-size: var(--secondaryTextSize);
  }
  .block .main--portfolio p {
    font-size: var(--fourthTextSize);
  }
  .block .main--portfolio .main--portfolio--works {
    width: 350px;
    height: 310px;
    margin-left: 1%;
  }
  .block .main--portfolio .main--portfolio--works h3 {
    font-size: var(--fourthTextSize);
  }
  .block .main--portfolio .main--portfolio--works p {
    margin-top: 1%;
  }
  .block .main--portfolio .main--portfolio--works--img {
    height: 200px;
  }
  .block .main--skills {
    margin-top: 30%;
  }
  .block .main--skills h1 {
    font-size: var(--secondaryTextSize);
  }
  .block .main--skills p {
    font-size: var(--fourthTextSize);
  }
  .block .main--skills .skillsText {
    margin-top: 5%;
  }
  .block .main--contact {
    margin-top: 40%;
    /*Form da compilare per mandare l'email*/
  }
  .block .main--contact h1 {
    font-size: var(--secondaryTextSize);
  }
  .block .main--contact p {
    font-size: var(--fourthTextSize);
  }
  .block .main--contact--emailForm {
    margin-top: 10%;
    font-size: var(--thirdTextSize);
  }
  .block .main--contact--emailForm .personalInfo {
    width: 350px;
    font-size: var(--thirdTextSize);
  }
  .block .main--contact--emailForm .message {
    width: 350px;
    font-size: var(--thirdTextSize);
  }
  .block .main--footer {
    margin-top: 15%;
  }
}
/************************************************************************** 
    STYLE PER LA DARK O LIGHT MODE IN BASE ALLE IMPOSTAZIONI DI SISTEMA 
**************************************************************************/
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --bodyColor: var(--bodyColor-dark);
    --mainColor: var(--mainColor-dark);
    --secondaryColor: var(--secondaryColor-dark);
    --opacityColor: var(--opacityColor-dark);
  }
}
/* LIGHT */
@media (prefers-color-scheme: light) {
  :root {
    --bodyColor: var(--bodyColor-light);
    --mainColor: var(--mainColor-light);
    --secondaryColor: var(--secondaryColor-light);
    --thirdColor: var(--thirdColor-light);
    --opacityColor: var(--opacityColor-light);
  }
}