/****************************************
    STRUTTURA PRINCIPALE DEL SITO WEB 
****************************************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

/* COLORE DI SFONDO */
body {
  background: var(--bodyColor);
}

/* CORPO PRINCIPALE DELLA PAGINA */
.block {
  height: 100%;
  width: 100%;
}

/* BLOCCO IN SOVRIMPRESSIONE */
.sub_block {
  height: 82vh;
  width: 80%;
  margin-top: 4%;
  margin-left: 10%;
  background-color: var(--secondaryColor);
  border-radius: var(--radius);
  -webkit-box-shadow: 10px 10px 25px var(--opacity);
          box-shadow: 10px 10px 25px var(--opacity);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub_block span {
  color: var(--title);
}

.sub_block h1 {
  color: var(--mainText);
  font-size: var(--mainTitle);
  padding-top: 8%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.sub_block h2 {
  color: var(--mainText);
  font-size: var(--mobileTitle);
  padding-left: 5%;
  padding-top: 2%;
}

.sub_block p {
  font-size: var(--secondaryTextSize);
  color: var(--mainText);
  padding-left: 5%;
}

.sub_block .projects {
  width: 80%;
  height: 10%;
  font-size: var(--secondaryTextSize);
  color: var(--mainText);
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  background-color: var(--mainColor);
  -webkit-box-shadow: 10px 10px 25px var(--opacity);
          box-shadow: 10px 10px 25px var(--opacity);
}

.sub_block .projects .fa {
  float: left;
  margin-top: 1.5%;
  margin-left: 5%;
}

.sub_block .projects p {
  display: inline-block;
  margin: 0 auto;
  margin-top: 2%;
}

.sub_block .projects--link {
  text-decoration: none;
  font-size: var(--mobileTitle);
  color: var(--mainText);
}

.sub_block .projects--link:hover {
  color: var(--buttonHov);
}

.sub_block .skills_container {
  margin: 0 auto;
  border-radius: var(--radius);
  background-color: #ccc;
  width: 95%;
}

.sub_block .skills_container .skills {
  text-align: right;
  color: var(--secondaryText);
  border-radius: var(--radius);
}

.sub_block .skills_container .skills--c {
  width: 20%;
  background-color: #00599c;
}

.sub_block .skills_container .skills--html {
  width: 40%;
  background-color: #e34c26;
}

.sub_block .skills_container .skills--css {
  width: 35%;
  background-color: #2965f1;
}

.sub_block .skills_container .skills--scss {
  width: 38%;
  background-color: #f57b79;
}

.sub_block .skills_container .skills--js {
  width: 15%;
  background-color: #F0DB4F;
}

.sub_block .skills_container .skills--git {
  width: 15%;
  background-color: #f1502f;
}

.sub_block .skills_container .skills--vue {
  width: 1%;
  background-color: #42b883;
}

/* IMMAGINE DEL PROFILO */
.img_profile {
  width: 400px;
  position: fixed;
  left: 65%;
  top: 30%;
  border-radius: 50%;
  -webkit-transition: var(--secondaryTransition) linear;
  transition: var(--secondaryTransition) linear;
}

.img_profile:hover {
  top: 28%;
  -webkit-transition: var(--secondaryTransition) linear;
  transition: var(--secondaryTransition) linear;
}

/* SOCIAL */
.social {
  text-decoration: none;
  font-size: var(--mainTextSize);
}

.social:hover {
  color: var(--buttonHov);
}

.social--ig {
  margin-left: 7%;
  color: #833AB4;
}

.social--github {
  margin-left: 2%;
  color: black;
}

/* FOOTER DELLA HOME */
.footer {
  padding-top: 5%;
  text-align: center;
}

.footer p {
  color: var(--mainText);
  font-size: var(--fourthTextSize);
}

/* FORM DA COMPILARE */
#form {
  margin-top: 2%;
}

/* Template per l'invio delle email */
.field {
  padding-left: 35%;
  padding-bottom: 2%;
}

.field label {
  display: block;
  padding: 1% 0;
  font-size: var(--secondaryTextSize);
  color: var(--mainText);
}

.field input {
  display: block;
  width: 500px;
  font-size: var(--secondaryTextSize);
  border: 1px solid var(--mainText);
  background-color: var(--opacity);
}

#message {
  height: 200px;
  border: 1px solid var(--mainText);
}

/* Bottone per l'invio del messaggio */
input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: var(--secondaryTextSize);
  background-color: var(--secondaryButton);
  color: var(--mainText);
}

#button:hover {
  color: var(--buttonHov);
  -webkit-transition: var(--secondaryTransition);
  transition: var(--secondaryTransition);
}

/***********************************************
    STILE DEI VARI BOTTONI PRESENTI NEL SITO
***********************************************/
/* STYLE DEI BOTTONI PER LA SCELTA DELLE PAGINE */
nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}

nav .fa-solid {
  display: none;
}

.links {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}

.links ul li a {
  text-decoration: none;
  font-size: var(--thirdTextSize);
}

/* STYLE DEGLI ALTRI BOTTONI PRESENTI NELLA PAGINA */
.button {
  display: inline-block;
  text-decoration: none;
  margin: 10% 5%;
  font-size: var(--mainTextSize);
  font-style: italic;
  color: var(--mainText);
  cursor: pointer;
}

.button:hover {
  color: var(--buttonHov);
  -webkit-transition: var(--secondaryTransition);
  transition: var(--secondaryTransition);
}

.button--sel {
  color: var(--buttonHov);
}

.button--contact {
  display: inline-block;
  text-decoration: none;
  padding: 15px 15px;
  margin: 5%;
  font-size: var(--mainTextSize);
  font-style: italic;
  color: var(--mainText);
  background: var(--secondaryButton);
  cursor: pointer;
  border-radius: var(--secondaryRadius);
}

.button--contact:hover {
  color: var(--buttonHov);
  -webkit-transition: var(--secondaryTransition);
  transition: var(--secondaryTransition);
}

/******************************************************
    VARIABILI PER I COLORI E LE GRANDEZZE DEI TESTI
******************************************************/
/* COLOR PALETTE */
:root {
  /* Light theme */
  --bodyColor-light:        rgb(255, 255, 255);
  --mainColor-light:         #fff;
  --secondaryColor-light:    rgb(219, 230, 246);
  --menuBar-light:           #aaa;
  --title-light:             darkgoldenrod;
  --mainText-light:          rgb(66, 66, 66);
  --secondaryText-light:     #fff;
  --buttonHov-light:         red;
  --secondaryButton-light:   #00ACEE;
  --opacity-light:           #E4E7EB;
  /* Dark theme */
  --bodyColor-dark:         #ccc;
  --mainColor-dark:         #ccc;
  --secondaryColor-dark:    rgb(171, 171, 171);
  --menuBar-dark:           #aaa;
  --title-dark:             darkgoldenrod;
  --mainText-dark:          black;
  --buttonHov-dark:         red;
  --secondaryButton-dark:   #00ACEE;
  --opacity-dark:           #E4E7EB;
}

/* GRANDEZZE DEI TESTI */
:root {
  --mainTitle: 65px;
  --mobileTitle: 35px;
  --mainTextSize: 25px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 14px;
  --secondaryRadius: 15px;
  --radius: 10px;
  --transition: 0.5s;
  --secondaryTransition: 0.3s;
}

/*************************************
    STYLE DEL SITO VISTO DA MOBILE 
*************************************/
@media (max-width: 700px) {
  /* BOTTONI SCELTA PAGINE */
  nav .fa-solid {
    display: block;
    font-size: var(--secondaryTextSize);
    cursor: pointer;
    margin: 10px;
    color: var(--mainText);
  }
  .links {
    height: 100vh;
    width: 200px;
    background: var(--menuBar);
    position: fixed;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .links ul li {
    display: block;
  }
  /* BLOCCO IN SOVRIMPRESSIONE */
  .sub_block {
    height: 85vh;
    top: 5%;
  }
  .sub_block h1 {
    margin-top: 60%;
    text-align: center;
    font-size: var(--mobileTitle);
  }
  .sub_block p {
    text-align: center;
    font-size: var(--secondaryTextSize);
  }
  .sub_block .projects p {
    display: inline-block;
    text-align: right;
    margin-top: 0;
    font-size: var(--fourthTextSize);
  }
  /* IMMAGINE DEL PROFILO */
  .img_profile {
    width: 200px;
    position: fixed;
    left: 25%;
    top: 10%;
    border-radius: 50%;
  }
  /* BOTTONE CONTACT ME */
  .button--contact {
    margin-top: 25%;
    margin-left: 20%;
  }
  /* SOCIAL */
  .social {
    margin-top: 15%;
    margin-left: 27%;
  }
  /* FOOTER DELLA HOME */
  .footer {
    text-align: center;
  }
  .footer p {
    margin-top: 2%;
    font-size: var(--fourthTextSize);
  }
  /* FORM DA COMPILARE */
  #form {
    margin-top: 2%;
  }
  /* Template per l'invio delle email */
  .field label {
    display: block;
    font-size: var(--secondaryTextSize);
    color: var(--mainText);
  }
  .field input {
    width: 200px;
    display: block;
    font-size: var(--secondaryTextSize);
    border: 1px solid var(--mainText);
    background-color: var(--opacity);
  }
  #message {
    height: 200px;
    border: 1px solid var(--mainText);
  }
  /* Bottone per l'invio del messaggio */
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: var(--secondaryTextSize);
    background-color: var(--secondaryButton);
    color: var(--mainText);
  }
}

/************************************************************************** 
    STYLE PER LA DARK O LIGHT MODE IN BASE ALLE IMPOSTAZIONI DI SISTEMA 
**************************************************************************/
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --bodyColor:        var(--bodyColor-dark);
    --mainColor:        var(--mainColor-dark);
    --secondaryColor:   var(--secondaryColor-dark);
    --menuBar:          var(--menuBar-dark);
    --title:            var(--title-dark);
    --mainText:         var(--mainText-dark);
    --buttonHov:        var(--buttonHov-dark);
    --buttonContact:    var(--buttonContact-dark);
    --secondaryButton:  var(--secondaryButton-dark);
    --opacity:          var(--opacity-dark);
  }
}

/* LIGHT */
@media (prefers-color-scheme: light) {
  :root {
    --bodyColor:        var(--bodyColor-light);
    --mainColor:        var(--mainColor-light);
    --secondaryColor:   var(--secondaryColor-light);
    --menuBar:          var(--menuBar-light);
    --title:            var(--title-light);
    --mainText:         var(--mainText-light);
    --secondaryText:    var(--secondaryText-light);
    --buttonHov:        var(--buttonHov-light);
    --buttonContact:    var(--buttonContact-light);
    --secondaryButton:  var(--secondaryButton-light);
    --opacity:          var(--opacity-light);
  }
}
