/****************************************
    STRUTTURA PRINCIPALE DEL SITO WEB 
****************************************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Roboto+Mono:ital,wght@0,200;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

/* COLORE DI SFONDO */
body {
  background: var(--bodyColor);
}

/* BLOCCO IN SOVRIMPRESSIONE */
.sub_block {
  /* GRANDEZZA e STILE DEL BLOCCO in SOVRIMPRESSIONE */
  height: 80%;
  width: 80%;
  margin: 0 auto;
  margin-top: 3.5%;
  margin-bottom: 1%;
  background-color: var(--secondaryColor);
  border-radius: var(--radius);
  -webkit-box-shadow: 10px 10px 25px var(--opacity);
          box-shadow: 10px 10px 25px var(--opacity);
  /* TESTI e FOTO NEL SITO */
  /* SOCIAL */
  /* FOOTER */
}

.sub_block .main {
  /* HOMEPAGE */
  /* FOTO della HOME */
  /* ABOUT PAGE */
  /* PROJECTS PAGE */
  /* SKILLS PAGE */
  /* CONTACT PAGE */
}

.sub_block .main h2 {
  font-size: var(--mobileTitle);
  color: var(--mainText);
  padding: 5%;
}

.sub_block .main p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub_block .main--home {
  padding: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sub_block .main--home h1 {
  color: var(--mainText);
  font-size: var(--mainTitle);
  padding: 5%;
}

.sub_block .main--home span {
  color: var(--title);
}

.sub_block .main--home p {
  font-size: var(--secondaryTextSize);
  color: var(--mainText);
  padding: 5%;
  padding-top: 2%;
}

.sub_block .main .img_profile {
  width: 400px;
  position: absolute;
  left: 65%;
  margin-top: 2%;
  border-radius: 50%;
  -webkit-transition: var(--secondaryTransition) linear;
  transition: var(--secondaryTransition) linear;
}

.sub_block .main .img_profile:hover {
  margin-top: 1%;
  -webkit-transition: var(--secondaryTransition) linear;
  transition: var(--secondaryTransition) linear;
}

.sub_block .main--about p {
  font-size: var(--secondaryTextSize);
  color: var(--mainColor);
  padding-bottom: 25%;
}

.sub_block .main--projects {
  /* BLOCCHETTI CON I PROGETTI */
  width: 80%;
  text-align: left;
  font-size: var(--secondaryTextSize);
  margin: 0 auto;
  padding: 2%;
  margin-top: 2%;
  padding-bottom: 2%;
  background-color: var(--mainColor);
  -webkit-box-shadow: 10px 10px 45px var(--opacity);
          box-shadow: 10px 10px 45px var(--opacity);
  /* ICONA DI GITHUB NEI BLOCCHETTI */
}

.sub_block .main--projects .fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: var(--mobileTitle);
  color: var(--secondaryText);
  text-decoration: none;
}

.sub_block .main--projects .fa:hover {
  color: var(--buttonHov);
}

.sub_block .main--skills {
  padding-top: 0;
  padding-bottom: 5%;
}

.sub_block .main--skills--skillsBar {
  margin: 0 auto;
  border-radius: var(--radius);
  background-color: #CCC;
  width: 95%;
}

.sub_block .main--skills--skillsBar .skills {
  text-align: right;
  color: var(--skillsTextColor);
  border-radius: var(--radius);
}

.sub_block .main--skills--skillsBar .skills--c {
  width: 20%;
  background-color: #00599c;
}

.sub_block .main--skills--skillsBar .skills--html {
  width: 40%;
  background-color: #e34c26;
}

.sub_block .main--skills--skillsBar .skills--css {
  width: 35%;
  background-color: #2965f1;
}

.sub_block .main--skills--skillsBar .skills--scss {
  width: 38%;
  background-color: #f57b79;
}

.sub_block .main--skills--skillsBar .skills--js {
  width: 15%;
  background-color: #F0DB4F;
}

.sub_block .main--skills--skillsBar .skills--git {
  width: 15%;
  background-color: #f1502f;
}

.sub_block .main--skills--skillsBar .skills--java {
  width: 1%;
  background-color: red;
}

.sub_block .main--skills--skillsBar .skills--vue {
  width: 1%;
  background-color: #42b883;
}

.sub_block .main--contact {
  margin-top: 0;
}

.sub_block .main--contact p {
  padding: 3%;
  color: var(--mainColor);
}

.sub_block .main--contact .field {
  padding-left: 35%;
  padding-bottom: 2%;
}

.sub_block .main--contact .field label {
  display: block;
  padding: 1% 0;
  font-size: var(--mainTextSize);
  color: var(--mainText);
}

.sub_block .main--contact .field input {
  display: block;
  width: 500px;
  font-size: var(--mainTextSize);
  border: 1px solid var(--mainText);
  background-color: var(--opacity);
}

.sub_block .main--contact #message {
  height: 200px;
  border: 1px solid var(--mainText);
}

.sub_block .social {
  text-decoration: none;
  font-size: var(--mainTextSize);
}

.sub_block .social:hover {
  color: var(--buttonHov);
}

.sub_block .social--ig {
  margin-left: 2%;
  color: #FFFFFF;
  margin-right: 2%;
}

.sub_block .social--github {
  margin-left: 2%;
  color: black;
}

.sub_block .social--twitter {
  margin-left: 2%;
  color: #1DA1F2;
}

.sub_block .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* FOOTER PAGINA ABOUT */
}

.sub_block .footer p {
  padding-top: 1%;
  padding-bottom: 3%;
  color: var(--mainText);
  font-size: var(--secondaryTextSize);
}

.sub_block .footer--about {
  text-decoration: none;
}

.sub_block .footer--about p {
  padding-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: var(--mainText);
  font-size: var(--secondaryTextSize);
}

.sub_block .footer--about .fa {
  float: right;
}

/***********************************************
    STILE DEI VARI BOTTONI PRESENTI NEL SITO
***********************************************/
/* STYLE DEI BOTTONI PER LA SCELTA DELLE PAGINE */
nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}

nav .fa-solid {
  display: none;
}

.links {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
}

.links ul li a {
  text-decoration: none;
  font-size: var(--thirdTextSize);
}

/* STYLE DEGLI ALTRI BOTTONI PRESENTI NELLA PAGINA */
.button {
  display: inline-block;
  text-decoration: none;
  margin: 10% 5%;
  font-size: var(--mainTextSize);
  font-style: italic;
  color: var(--mainText);
  cursor: pointer;
}

.button:hover {
  color: var(--buttonHov);
  -webkit-transition: var(--secondaryTransition);
  transition: var(--secondaryTransition);
}

.button--sel {
  color: var(--buttonHov);
}

.button--contact {
  text-decoration: none;
  display: inline-block;
  padding: 15px 15px;
  margin: 5%;
  font-size: var(--mainTextSize);
  color: var(--mainText);
  background: var(--secondaryButton);
  cursor: pointer;
  border-radius: var(--secondaryRadius);
}

.button--contact:hover {
  color: var(--buttonHov);
  -webkit-transition: var(--secondaryTransition);
  transition: var(--secondaryTransition);
}

.button--send {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: var(--secondaryTextSize);
  background-color: var(--secondaryButton);
  color: var(--mainText);
  border: none;
}

.button--send:hover {
  color: var(--buttonHov);
  -webkit-transition: var(--secondaryTransition);
  transition: var(--secondaryTransition);
}

/******************************************************
    VARIABILI PER I COLORI E LE GRANDEZZE DEI TESTI
******************************************************/
/* COLOR PALETTE */
:root {
  /* Light theme */
  --bodyColor-light:        #DEF2F1;
  --mainColor-light:         #FFFFFF;
  --secondaryColor-light:    #2B7A78;
  --menuBar-light:           #17252A;
  --title-light:             darkgoldenrod;
  --mainText-light:          #FFFFFF;
  --secondaryText-light:     #000000;
  --buttonHov-light:         red;
  --secondaryButton-light:   #00ACEE;
  --opacity-light:           #E4E7EB;
  --skillsTextColor-light:   #FFFFFF;
  /* Dark theme */
  --bodyColor-dark:         #ccc;
  --mainColor-dark:         #ccc;
  --secondaryColor-dark:    rgb(171, 171, 171);
  --menuBar-dark:           #DEF2F1;
  --title-dark:             darkgoldenrod;
  --mainText-dark:          black;
  --buttonHov-dark:         red;
  --secondaryButton-dark:   #00ACEE;
  --opacity-dark:           #E4E7EB;
  --skillsTextColor-dark:   #FFFFFF;
}

/* GRANDEZZE DEI TESTI */
:root {
  --mainTitle: 65px;
  --mobileTitle: 35px;
  --mainTextSize: 25px;
  --secondaryTextSize: 20px;
  --thirdTextSize: 17px;
  --fourthTextSize: 14px;
  --secondaryRadius: 15px;
  --radius: 10px;
  --transition: 0.5s;
  --secondaryTransition: 0.3s;
}

/*************************************
    STYLE DEL SITO VISTO DA MOBILE 
*************************************/
/* SMARTPHONE */
@media (max-width: 700px) {
  /* BOTTONI SCELTA PAGINE */
  nav .fa-solid {
    display: block;
    font-size: var(--secondaryTextSize);
    cursor: pointer;
    margin: 10px;
    color: var(--mainText);
  }
  .links {
    height: 100vh;
    width: 200px;
    background: var(--menuBar);
    position: fixed;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 1;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .links ul li {
    display: block;
  }
  /* BLOCCO IN SOVRIMPRESSIONE */
  .sub_block {
    height: 100%;
  }
  .sub_block .main {
    /* HOMEPAGE */
    /* IMMAGINE DEL PROFILO */
    /* PROJECTS PAGE */
    /* CONTACT PAGE */
    /* CONTACT PAGE */
  }
  .sub_block .main h2 {
    padding: 5%;
  }
  .sub_block .main p {
    text-align: center;
    font-size: var(--secondaryTextSize);
  }
  .sub_block .main--home h1 {
    margin-top: 70%;
    text-align: center;
    font-size: var(--mobileTitle);
  }
  .sub_block .main .img_profile {
    width: 200px;
    position: absolute;
    left: 23%;
    border-radius: 50%;
  }
  .sub_block .main--projects {
    margin-left: 10%;
    display: inline-block;
    height: 70px;
    margin-top: 20%;
  }
  .sub_block .main--contact p {
    font-size: var(--thirdTextSize);
  }
  .sub_block .main--contact .field label {
    font-size: var(--thirdTextSize);
  }
  .sub_block .main--contact .field input {
    width: 100px;
  }
  .sub_block .main--contact {
    margin-top: 2%;
    margin-left: -120px;
  }
  .sub_block .main--contact p {
    font-size: var(--fourthTextSize);
    padding-left: 30%;
  }
  .sub_block .main--contact .field {
    margin-bottom: 10%;
  }
  .sub_block .main--contact .field label {
    display: block;
    font-size: var(--secondaryTextSize);
    color: var(--mainText);
  }
  .sub_block .main--contact .field input {
    display: block;
    width: 200px;
    height: 50px;
    min-width: 250px;
    font-size: var(--secondaryTextSize);
    background-color: var(--opacity);
  }
  .sub_block .main--contact #message {
    height: 200px;
  }
  /* BOTTONE CONTACT ME */
  .button--contact {
    margin-top: 20%;
    margin-left: 20%;
  }
  .button--send {
    margin-left: 55%;
  }
  /* FOOTER */
  .footer {
    /* FOOTER ABOUT PAGE */
  }
  .footer p {
    margin-top: 30%;
    font-size: var(--fourthTextSize);
  }
  .footer--about {
    margin-top: 130%;
    text-decoration: none;
  }
  .footer--about .fa {
    float: right;
  }
}

/************************************************************************** 
    STYLE PER LA DARK O LIGHT MODE IN BASE ALLE IMPOSTAZIONI DI SISTEMA 
**************************************************************************/
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --bodyColor:        var(--bodyColor-dark);
    --mainColor:        var(--mainColor-dark);
    --secondaryColor:   var(--secondaryColor-dark);
    --menuBar:          var(--menuBar-dark);
    --title:            var(--title-dark);
    --mainText:         var(--mainText-dark);
    --buttonHov:        var(--buttonHov-dark);
    --buttonContact:    var(--buttonContact-dark);
    --secondaryButton:  var(--secondaryButton-dark);
    --opacity:          var(--opacity-dark);
    --skillsTextColor:  var(--skillsTextColor-dark);
  }
}

/* LIGHT */
@media (prefers-color-scheme: light) {
  :root {
    --bodyColor:        var(--bodyColor-light);
    --mainColor:        var(--mainColor-light);
    --secondaryColor:   var(--secondaryColor-light);
    --menuBar:          var(--menuBar-light);
    --title:            var(--title-light);
    --mainText:         var(--mainText-light);
    --secondaryText:    var(--secondaryText-light);
    --buttonHov:        var(--buttonHov-light);
    --buttonContact:    var(--buttonContact-light);
    --secondaryButton:  var(--secondaryButton-light);
    --opacity:          var(--opacity-light);
    --skillsTextColor:   var(--skillsTextColor-light);
  }
}
