li {
    list-style: none;
}

/* BOTTONI NAV */
.navHamburger {
    display: none;
}
.workBtn, .aboutBtn {
    text-decoration: none;
    color: var(--mainColor);
    font-size: var(--secondaryTextSize);
}
.logoBtn {
    text-decoration: none;
    color: var(--mainColor);
    font-size: 2rem;
}
.navBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    min-height: 70px;
    @include nav-menu-alignment;
    padding: 0 24px;
    background: var(--secondaryColor);
    .navMenu {
        @include nav-menu-alignment;
        gap: 60px;
        .navLink {
            transition: var(--mainTransitionValue) ease-in-out;
        }
    }
}

/* BOTTONE PER MOSTRARE IL FORM DELLE EMAIL */
.showEmailForm {
    text-decoration: none;
    border: 1px solid var(--secondaryColor);
    padding: 12px 8px;
    margin: 2% 0 1% 0;
    background: var(--mainColor);
    color: var(--secondaryColor);
    font-size: var(--thirdTextSize);
    float: right;
    border-radius: var(--radiusSize);
    transition: var(--thirdTransitionValue) ease-in-out;
    &:hover, &:focus {
        translate: 0 -3px;
        transition: var(--thirdTransitionValue) ease-in-out;
        border-bottom: 4px solid var(--secondaryColor);
    }
}
/* BOTTONE PER L'INVIO DELL'EMAIL */
input[type=submit] {
    display: block;
    margin: auto;
    border: 1px solid var(--secondaryColor);
    background: var(--mainColor);
    color: var(--secondaryColor);
    width: 150px;
    padding: 12px 8px;
    font-size: var(--fourthTextSize);
    border-radius: var(--radiusSize);
    &:hover, &:focus {
        translate: 0 -3px;
        transition: var(--thirdTransitionValue) ease-in-out;
        border-bottom: 4px solid var(--secondaryColor);
    }
}

/* BOTTONE PER VISITARE IL LAVORO PRESENTATO */
.workButton {
    @include central-alignment;
    width: fit-content;
    border-radius: var(--radiusSize);
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    background: none;
    font-size: var(--thirdTextSize);
    text-decoration: none;
    padding: 13px 11px;
    margin: 10% auto 0 auto;
    transition: var(--secondaryTransitionValue);
    &:hover, &:focus {
        transition: var(--secondaryTransitionValue);
        translate: 0 -5px;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
}