/***********************************************
    STILE DEI VARI BOTTONI PRESENTI NEL SITO
***********************************************/


/* STYLE DEI BOTTONI PER LA SCELTA DELLE PAGINE */
nav {
    background-color: var(--thirdColor);
    padding: 1%;
    width: 99%;
    position: fixed;
    top: 0;
    z-index: 2;
}
.links {
    text-align: end;
    flex: 1;
    ul {
        p {
            font-size: var(--secondaryTextSize);
            font-style: bold;
            float: left;
        }
    }
    ul li {
        list-style: none;
        display: inline-block;
        padding: 5px 10px;
        position: relative;
    }
    ul li a {
        text-decoration: none;
        font-size: var(--fourthTextSize);
    }
}

/* BOTTONI DI COLLEGAMENTO ALLE PARTI DEL SITO */
.button {
    display: inline-block;
    text-decoration: none;
    font-size: var(--mainTextSize);
    color: var(--mainColor);
    cursor: pointer;
    &--sel {
        color: var(--mainColor);
        font-style: italic;
    }
    &--portfolio {
        display: block;
        border: 1px solid black;
        padding: 12px 8px;
        width: fit-content;
        margin: 0 auto;
        margin-top: 5%;
        border-radius: var(--radiusSize);
        text-decoration: none;
        color: var(--mainColor);
        transition: var(--secondaryTransitionValue) linear;
        &:hover {
            opacity: .5;
            transition: var(--secondaryTransitionValue) linear;
        }
    }
}

/* BOTTONE INVIO EMAIL */
.sendButton {
    font-size: var(--thirdTextSize);
    color: var(--secondaryColor);
    padding: 12px 8px;
    border-radius: var(--thirdRadius);
    background-color: var();
    border: 1px solid var(--secondaryColor);
    &:hover {
        color: var(--mainColor);
    }
}

/* BOTTONE SHOW MORE */
.showMoreBtn {
    margin: 0 auto;
    border: 1px solid var(--secondaryColor);
    text-decoration: none;
    padding: 12px 8px;
    border-radius: var(--radiusSize);
    color: var(--secondaryColor);
    outline: none;
    cursor: pointer;
    &:hover {
        color: var(--mainColor);
    }
}